@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(24px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  @apply bg-slate-50 text-slate-800;
}
